<h2>Artists</h2>


<div>
  <% @artists.each do |artist| %>
      <p><%= artist.name %></p>
  <% end %>
</div>


<div>
  <%= form_tag artists_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>


</div>